body {
    max-width: 100%;
    ;
}

.header {
    padding: 15px 70px 15px 70px;
}

.logo-head {
    text-align: left;
}

.form-group {
    position: relative;
    border-color: #818386;
    box-shadow: 0 0 0 0.2rem #818386;
}

#search-form {
    padding-right: 50px;
    background: lighten(black, 97%);
    border-radius: 0px;
}

#search-form:focus {
    border-color: #818386;
    box-shadow: 0 0 0 0.2rem #818386;
}

.icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu-head {
    text-align: right;
}

#main {
    min-height: 75vh;
}

.footer {
    margin-top: 0px;
    padding: 15px 70px 15px 70px;
    background: #083D77;
}

.logo-footer-group {
    padding: 15px 15px 15px 15px;
}

.logo-footer-group div,
.load-more {
    align-self: center;
}

.logo-bottom,
.share-logo {
    text-align: right;
}

.logo-media-network img {
    width: 126px;
}

.logo-bottom img {
    width: 160px;
}

.htag {
    margin-bottom: 0;
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
}

.htag a {
    color: #f8f9fa;
}

.htag a:hover {
    color: #f8f9fa;
}

.htag .nav-link {
    padding-right: 8px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.htag-separator {
    padding-right: 8px;
    padding-left: 0px;
    color: #f8f9fa;
}

.htag-socmed-group {
    padding-top: 5px;
    padding-bottom: 15px;
}

.footer-socmed {
    text-align: right;
    align-self: flex-end;
}

.icon-logo {
    color: -webkit-link;
}

.icon-logo:hover {
    color: -webkit-link;
}

.footer-bottom {
    padding: 15px 70px 15px 70px;
    background: #F4EFFF;
}

.footer-bottom .htag a {
    font-size: 13px;
    color: #666666;
}

.footer-bottom .htag a:hover {
    color: #666666;
}

.footer-copyright .htag {
    font-size: 13px;
    color: #666666;
}

.footer-copyright {
    text-align: right;
}

section {
    margin-bottom: 50px;
}

.pd-container .pd-title {
    color: #F9AF19;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    word-spacing: 3px;
}

.pd-container .pd-row1 {
    margin-top: 35px;
}

.pd-container .col-group {
    padding: 0px;
}

.pd-container .pd-area {
    margin-top: 20px;
}

.pd-container .pd-rec {
    padding: 0px;
    height: 205px;
    width: 100%;
    margin-bottom: 10px;
}

.pd-container .pd-rec img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pd-container .pd-des {
    margin-top: 10px;
    margin-bottom: 25px;
}

.pd-sq-des h2 {
    font-size: 20px;
}

.pd-sq-des p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #818386;
    font-weight: 600;
}

.topik-icon {
    text-align: center;
}

.topik-icon img {
    width: 100%;
}

.topik-icon-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.testimonial-avatar {
    border-radius: 50%;
    width: 100%;
}

.testimonial-name {
    margin-top: 10px;
    margin-bottom: 25px;
}

.testimonial-sq-name p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #818386;
    font-weight: 600;
}

.testimonial-sq-name .name {
    font-weight: 800;
    color: #333333;
}

.socmed-title {
    margin-top: 20px;
}